/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}



fieldset {
  border-style: none;
}

legend{
  font-weight: bold;
}

a {
  padding-left: 3px;
  font-weight: bold;
  color: rgba(50, 64, 219, 0.831)
}

button {
  color: rgba(50, 64, 219, 0.831);
  background-color: black;
  border: 2px solid rgba(50, 64, 219, 0.831);
  border-radius: 3px;
  font-weight: bold;
}

.container {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.account {
  display: flex;
}

.title-container{
  position: relative;
  top: 20vh;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
}

.right-side{
  background-color: black;
}

.form {
  display: flex;
  flex-flow: row;
  /* justify-content: space-evenly */
  list-style: none;
  gap: 50px;
}

.input-box {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 20px;

}

.input {
  display: flex;
  flex-flow: column ;
  margin-bottom: 5px;
  color: white;
}

input, select, textarea{
  font-size: 1rem;
  color: lightgrey;
}

.input > label {
  font-size: .8rem;

}

.input > input {
  /* display: flex;
  flex-flow: column; */
  background-color: black;
  border: 1px solid grey;
  border-radius: 5px;
  width: 250px
}

.shift{
  padding-left: 3vw;
}

.shift-right {
  padding-right: 3vw;
}

.text-container {
  text-align: center;
  padding-bottom: 10vh;
  width: 90%;

}

.img-size {
  max-width: 100%;
  height: auto;
  min-width: 10vw;
  margin-top: 10px;
  border-radius: 10px;
}


.right-side {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
}

.button {
  padding-bottom: 20px;
}

.account {
  color: white;
}

.button,
.account {
  font-size: 1rem;
}

.backdrop {
  background-image: url(./imgs/Seoul_Tower.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
}

@media only screen and (max-width:600px) {
  .container {
    flex-flow: column;
    height: auto;
    text-align: center;
  }

  .backdrop {
    width: 100vw;
    height: 15vh;
    display: flex;
    background-size: 100vw;
  }

  .title-container {
    position: static;
    width: 100vw;
    font-size: 1rem;
    padding-top: 20px;
  }

  .right-side {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width:450px) {

}
